src/main/resources/oauth.properties

# IntelliJ Files
*.iml
*.ipr
*.iws
.idea/
out/

# Java related
*.class
classes/

# Gradle files
.gradle/
build/

# OS X
.DS_Store

# vi
*.swp

# Build files
target/

# log files
*.log

# plugin generated
lombok.config


